<h4 class="mb-4 mt-2 title">{{ isEditMode ? "Edit User" : "Create User" }}</h4>

<form
  [formGroup]="userForm"
  (ngSubmit)="onSubmit()"
  class="p-4 border rounded bg-light"
>
  <div class="mb-3">
    <label>Name</label>
    <input formControlName="name" type="text" class="form-control" />
  </div>
  <div class="mb-3">
    <label>Email</label>
    <input formControlName="email" type="email" class="form-control" />
  </div>
  <div class="mb-3">
    <label>Phone</label>
    <input formControlName="phone" type="text" class="form-control" />
  </div>
  <div class="mb-3">
    <label>Password</label>
    <div class="input-group">
      <input
        [type]="showPassword ? 'text' : 'password'"
        formControlName="password"
        class="form-control"
      />
      <button
        type="button"
        class="btn btn-outline-secondary"
        (click)="showPassword = !showPassword"
      >
        {{ showPassword ? "Hide" : "Show" }}
      </button>
    </div>
  </div>

  <fieldset class="border p-3 rounded mb-3">
    <legend class="float-none w-auto px-2">Address</legend>

    <div [formGroup]="addressForm">
      <div class="mb-3">
        <label>Street</label>
        <input type="text" class="form-control" formControlName="street" />
      </div>

      <div class="mb-3">
        <label>City</label>
        <input type="text" class="form-control" formControlName="city" />
      </div>

      <div class="mb-3">
        <label>Country</label>
        <input type="text" class="form-control" formControlName="country" />
      </div>
    </div>
  </fieldset>

  <div class="mb-3">
    <label>Role</label>
    <select formControlName="role" class="form-select">
      <option *ngFor="let role of roles" [value]="role">{{ role }}</option>
    </select>
  </div>

  <div class="gap-2 d-flex flex-wrap">
    <button type="submit" class="btn btn-success" [disabled]="userForm.invalid">
      {{ isEditMode ? "Update User" : "Add User" }}
    </button>
    <button
      type="button"
      class="btn btn-outline-secondary"
      (click)="onCancel()"
    >
      Cancel
    </button>
  </div>
</form>
