<form
  [formGroup]="categoryForm"
  (ngSubmit)="onSubmit()"
  class="p-4 border rounded bg-light"
>
  <div class="mb-3">
    <label for="name" class="form-label">Category Name</label>
    <input
      id="name"
      formControlName="name"
      type="text"
      class="form-control"
      [class.is-invalid]="
        categoryForm.get('name')?.invalid && categoryForm.get('name')?.touched
      "
    />
    <div
      class="invalid-feedback"
      *ngIf="
        categoryForm.get('name')?.invalid && categoryForm.get('name')?.touched
      "
    >
      Name is required.
    </div>
  </div>

  <div class="mb-3">
    <label for="level" class="form-label">Level</label>
    <select id="level" formControlName="level" class="form-select">
      <option *ngFor="let level of levels" [value]="level">{{ level }}</option>
    </select>
  </div>

  <div class="mb-3" *ngIf="categoryForm.get('level')?.value !== 'FIRST'">
    <label for="parentId" class="form-label">Parent Category</label>
    <select
      id="parentId"
      formControlName="parentId"
      class="form-select"
      [class.is-invalid]="
        categoryForm.get('parentId')?.invalid &&
        categoryForm.get('parentId')?.touched
      "
    >
      <option [value]="''">-- Select Parent --</option>
      <option *ngFor="let cat of parentCategories" [value]="cat.id">
        {{ cat.name }}
      </option>
    </select>
  </div>

  <button
    type="submit"
    class="btn btn-success"
    [disabled]="categoryForm.invalid"
  >
    Create Category
  </button>
</form>
