<div class="modal-header">
  <h5 class="modal-title text-danger d-flex align-items-center">
    <i class="bi bi-exclamation-triangle me-2"></i>{{ title }}
  </h5>
  <button
    type="button"
    class="btn-close confirmation-button-close"
    aria-label="Close"
    (click)="activeModal.dismiss()"
  ></button>
</div>

<div class="modal-body">
  <p>{{ message }}</p>
</div>

<div class="modal-footer">
  <button class="btn btn-secondary" (click)="activeModal.dismiss()">
    {{ "CONFIRMATION.CANCEL" | translate }}
  </button>
  <button class="btn btn-danger" (click)="activeModal.close(true)">
    {{ "CONFIRMATION.CONFIRM" | translate }}
  </button>
</div>
